<p style="color: green"><%= notice %></p>

<h1>Arts</h1>

<div id="arts">
  <% @arts.each do |art| %>
    <%= render art %>
    <p>
      <%= link_to "Show this art", art %>
    </p>
  <% end %>
</div>

<%= link_to "New art", new_art_path %>
